<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars Dealerships</a>
                </div>
                <a class="nav navbar-nav" class="active" href="{% url 'djangoapp:about' %}">About</a>
                <a class="nav navbar-nav" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>
        </nav>

        <h1>
            The contact information for the dealership will be added shortly.
        </h1>

    <!-- Add reviews as cards -->

    </body>

</html>